<div class="ui fixed inverted menu">
    <div class="ui container">
        <a href="#" class="header item">

        <img class="logo" src="https://i.imgur.com/C9GNkdq.png">
          Biloba Tech
      </a>
      <a href="#" class="item">Home</a>
        {% if request.user %}
      <div class="ui simple dropdown item">
        My Profile <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">My Trips</a>
          <a class="item" href="#">Score Reports</a>
        </div>
      </div>
        {% endif %}
    </div>
</div>